.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.navlink {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.navlink.active {
  background-color: #aaa;
  color: white;
}

.navlink:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .navlink {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .navlink {
    text-align: center;
    float: none;
  }
}
