.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
  color: #eee;

  padding: 0.5rem;
}

.header-img {
  width: 50px;
}
