.layout {
  background-color: #eee;
  color: #333;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.base {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
